<li>
  <%= image_for(tweet.user) %>
      <span class="user-name">
        <%= tweet.user.name %>
      <span class="content">
        <%= link_to tweet.content, tweet_path(tweet.id) %>
      </span>
    </li>