<main>
  <div class="top-wrapper">
    <div class="contents">
    <h1>フリーランスにもっとツナガリを</h1>
    <p>Lancegoはフリーランス同士の距離をさらに近いものにするコミュニケーションSNSです。</p>
    <%= link_to '新規登録する', new_user_registration_path, class: "btn signup"%>
  </div>
</main>

<center>
<h1>POINT</h1>
  <p>Lancegoでは〜〜〜〜〜〜〜〜〜〜〜〜。</p>
</center>