<main>
  <div class="top-wrapper">
    <div class="contents">
    <h1>フリーランスにもっとツナガリを</h1>
    <p>Lancegoはフリーランス同士の距離をさらに近いものにするコミュニケーションSNSです。</p>
    <%= link_to '新規登録する', new_user_registration_path, class: "btn signup"%>
  </div>
</main>

<h1 align = "center" >Lancegoについて</h1>

<div class="top-messages">
  <div class="top-message">
    <div class="top-message-image">
      <img src="assets/earth.png" width="80%" >
    </div>
    <p class="top-message-contents">フリーランス同士で情報交換や共有することが可能。悩みを仲間に相談し、解決することができます。</p>
  </div>
  <div class="top-message">
    <div class="top-message-image">
      <img src="assets/shakehand.png" width="80%" >
    </div>
    <p class="top-message-contents">
      企業とフリーランスを繋ぎます。登録しているあなたの情報を見た企業から仕事依頼が来て受注することができます。(今後実装予定)
    </p>
  </div>
  <div class="top-message">
    <div class="top-message-image">
      <img src="assets/meeting.png" width="80%" >
    </div>
    <p class="top-message-contents">
      登録者限定のフリーランス限定イベントもあるのでオフラインでの交流も可能。フリーランス仲間を作ることでさらにステップアップするきっかけになります。
    </p>
  </div>
</div>