/* 投稿一覧 ================================ */

.tweets {
  margin: 0;
}

.tweets li {
  overflow: auto;
  padding: 0 0 10px 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #eaeaea;
}

.tweets .content {
  display: block;
}

/* 投稿 ================================ */
.tweets .title, .tweets .content {
  display: block;
}

.tweets .title {
  padding-top: 8px;
}

.tweets img {
  display: inline-block;
  margin-right: 6%;
  margin-bottom: 6%;
  float: left;
  width:56px;
  height:56px;
}

.show-tweet li {
  padding: 30px 40px;
  background-color: #DEE6EA;
  border-radius: 5px;
}

.show-tweet .title, .show-tweet .content {
  display: block;
}

.show-tweet .title {
  padding-top: 8px;
}
.show-tweet img {
  display: inline-block;
  margin-right: 5px;
  float: left;
  width:70px;
  height:70px;
  margin-right: 6%;
  margin-bottom: 6%;
}

/* 投稿フォーム ================================ */

.user-id-field {
  width: 100%;
}

.title-field {
  width: 480px;
}

.content-field {
  height: 90px;
  width: 956px;
}